{% if todos %}

    {% for todo in todos %}
    <div class="card text-bg-dark mb-3 shadow rounded-4">
        <div class="card-body">
            <div class="d-flex">
                <div class="p-2 flex-grow-1">
                    <h5 class="card-title {% if todo.completed %} text-decoration-line-through text-success{% endif %}">
                        {{ todo.title }}
                    </h5>
                </div>
                <div class="p-2">
                    <button 
                        class="btn btn-outline-success" 
                        hx-get="{% url 'mark_todo' todo.pk %}"
                        hx-target="#todoList">
                        <i class="bi bi-check-lg"></i>
                    </button>
                </div>
                <div class="p-2">
                    <button 
                        class="btn btn-outline-danger"
                        hx-delete="{% url 'delete_todo' todo.pk %}"
                        hx-target="#todoList" hx-confirm="Tem certeza de que deseja excluir?">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
            
        </div>
    </div>

    {% endfor %}
    
{% else %}

<h5>Atualmente, você não tem uma tarefa neste projeto.</h5>

{% endif %}